# Common errors in R

- Wrong separator
- Classes
- Missing not coded as missing
- Wrong decimal denotator

In [1]:
library(readr)

In [2]:
# 1 - Wrong separator when reading in data (demonstration only)

ess2018 <- read_csv("../data/ESS2918DK_subset_with-errors.csv")

head(ess2018, 5)

Parsed with column specification:
cols(
  `idno;netustm;ppltrst;vote;prtvtddk;lvpntyr;tygrtr;gndr;yrbrn;edlvddk;eduyrs;wkhct;wkhtot;grspnum;frlgrsp;inwtm` = col_character()
)
Warning message:
"1572 parsing failures.
row col  expected    actual                                       file
  1  -- 1 columns 4 columns '../data/ESS2918DK_subset_with-errors.csv'
  2  -- 1 columns 4 columns '../data/ESS2918DK_subset_with-errors.csv'
  3  -- 1 columns 4 columns '../data/ESS2918DK_subset_with-errors.csv'
  4  -- 1 columns 4 columns '../data/ESS2918DK_subset_with-errors.csv'
  5  -- 1 columns 4 columns '../data/ESS2918DK_subset_with-errors.csv'
... ... ......... ......... ..........................................
See problems(...) for more details.
"

  idno;netustm;ppltrst;vote;prtvtddk;lvpntyr;tygrtr;gndr;yrbrn;edlvddk;eduyrs;wkhct;wkhtot;grspnum;frlgrsp;inwtm
1 110;180
2 705;60
3 1327;240
4 3760;300
5 4658;90

In [38]:
ess2018 <- read_csv2("../data/ESS2918DK_subset_with-errors.csv") # Works with ";"
head(ess2018)

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  idno = col_double(),
  netustm = col_character(),
  ppltrst = col_character(),
  vote = col_character(),
  prtvtddk = col_character(),
  lvpntyr = col_character(),
  tygrtr = col_character(),
  gndr = col_character(),
  yrbrn = col_double(),
  edlvddk = col_character(),
  eduyrs = col_double(),
  wkhct = col_double(),
  wkhtot = col_double(),
  grspnum = col_double(),
  frlgrsp = col_double(),
  inwtm = col_character()
)

  idno netustm ppltrst vote
1  110 180,0   8       Yes
2  705 60,0    5       Yes
3 1327 240,0   5       NA
4 3760 300,0   7       Not eligible to vote
5 4658 90,0    8       Yes
6 5816 90,0    7       Yes
  prtvtddk
1 Socialdemokratiet - The Social democrats
2 Det Konservative Folkeparti - Conservative People's Party
3 NA
4 NA
5 NA
6 SF Socialistisk Folkeparti - Socialist People's Party
  lvpntyr                                     tygrtr          gndr   yrbrn
1 1968                                        Never too young Male   1949
2 1976                                        67              Male   1958
3 Still in parental home, never left 2 months NA              Male   2000
4 Still in parental home, never left 2 months 40              Male   2002
5 1974                                        50              Female 1956
6 1994                                        60              Male   1974
  edlvddk
1 Kort videregående uddannelse af op til 2-3 års varighed, F.eks. Erhvervsakadem
2 Kort videregående uddannelse af op til 2-3 års varighed, F.eks. Erhvervsakadem
3 Folkeskole 9.-10. klasse
4 Folkeskole 9.-10. klasse
5 Kort videregående uddannelse af op til 2-3 års varighed, F.eks. Erhvervsakadem
6 Mellemlang videregående uddannelse af 3-4 års varighed. Professionsbachelorer,
  eduyrs wkhct wkhtot grspnum frlgrsp inwtm
1  9     28    28     9999999 9999999 119,0
2 22     37    45     9999999 9999999 55,0
3 11     37    37     9999999 9999999 37,0
4  9      2     2         200 9999999 43,0
5  4     30    30     9999999 9999999 62,0
6 35     37    37       37000   35000 61,0

In [44]:
ess2018 <- read_delim("../data/ESS2918DK_subset_with-errors.csv", delim = ";") # Alternative - specify the delimiter
head(ess2018)

Parsed with column specification:
cols(
  idno = col_double(),
  netustm = col_character(),
  ppltrst = col_character(),
  vote = col_character(),
  prtvtddk = col_character(),
  lvpntyr = col_character(),
  tygrtr = col_character(),
  gndr = col_character(),
  yrbrn = col_double(),
  edlvddk = col_character(),
  eduyrs = col_double(),
  wkhct = col_double(),
  wkhtot = col_double(),
  grspnum = col_double(),
  frlgrsp = col_double(),
  inwtm = col_character()
)

  idno netustm ppltrst vote
1  110 180,0   8       Yes
2  705 60,0    5       Yes
3 1327 240,0   5       NA
4 3760 300,0   7       Not eligible to vote
5 4658 90,0    8       Yes
6 5816 90,0    7       Yes
  prtvtddk
1 Socialdemokratiet - The Social democrats
2 Det Konservative Folkeparti - Conservative People's Party
3 NA
4 NA
5 NA
6 SF Socialistisk Folkeparti - Socialist People's Party
  lvpntyr                                     tygrtr          gndr   yrbrn
1 1968                                        Never too young Male   1949
2 1976                                        67              Male   1958
3 Still in parental home, never left 2 months NA              Male   2000
4 Still in parental home, never left 2 months 40              Male   2002
5 1974                                        50              Female 1956
6 1994                                        60              Male   1974
  edlvddk
1 Kort videregående uddannelse af op til 2-3 års varighed, F.eks. Erhvervsakadem
2 Kort videregående uddannelse af op til 2-3 års varighed, F.eks. Erhvervsakadem
3 Folkeskole 9.-10. klasse
4 Folkeskole 9.-10. klasse
5 Kort videregående uddannelse af op til 2-3 års varighed, F.eks. Erhvervsakadem
6 Mellemlang videregående uddannelse af 3-4 års varighed. Professionsbachelorer,
  eduyrs wkhct wkhtot grspnum frlgrsp inwtm
1  9     28    28     9999999 9999999 119,0
2 22     37    45     9999999 9999999 55,0
3 11     37    37     9999999 9999999 37,0
4  9      2     2         200 9999999 43,0
5  4     30    30     9999999 9999999 62,0
6 35     37    37       37000   35000 61,0

In [40]:
# 2 - Missing not coded as missing (grspnum for demonstration, frlgrsp for exercise)

mean(ess2018$grspnum)

[1] 4833784

In [51]:
ess2018 <- ess2018 %>%
mutate(grspnum = na_if(grspnum, 9999999))

head(ess2018)

[1] 95986.54

In [ ]:
mean(ess2018$grspnum, na.rm = TRUE)

In [53]:
# 3 - Wrong decimal denotator (inwtm for demonstration, netustm for exercise)

mean(ess2018$inwtm, na.rm = TRUE)

Warning message in mean.default(ess2018$inwtm, na.rm = TRUE):
“argument is not numeric or logical: returning NA”

[1] NA

In [54]:
ess2018$inwtm <- as.character(ess2018$inwtm)

In [21]:
print(ess2018e$inwtm[1])
print(as.numeric(str_replace(ess2018e$inwtm[1], ",", ".")))

[1] "119,0"
[1] 119